.section-title {
  font-weight: bold;
  letter-spacing: 2px;
  color: #d40000;
}

.image-box {
  position: relative;
}

.camera-icon {
  position: absolute;
  bottom: 3px;
  right: 6px;
  background: rgba(0,0,0,0.6);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  color: white;
}
