@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body{
font-family: "Noto Serif", serif;
  line-height: 1.5;
  font-weight: 400;
}
.container{
  max-width: 1200px;
}